* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

html {
    background-image: url(../img/fdfstvlbckground2.png);
    background-position: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

li {
    font-family: "sway-variable", sans-serif;
    font-variation-settings: "wght" 1000, "CNST" 100;
    font-size: 30px;
    list-style-type: none;
    margin-inline: 20px;
    display: inline;
    align-content: center;
}

nav {
    padding-top: 70px;
    padding-bottom: 20px;
    text-align: center;

}

.logo {
    margin-bottom: 20px;
}

.logo:hover {
    transform: scale(1.2);
}

footer {
    padding: 100px;
}

#home {
    display: flex;
    align-content: center;
    padding: 100px 20px 100px 20px;
    margin: 0px 100px 0px 100px;
}

#home:hover {
    transform: scale(1.2);
}

body {
    min-height: 100vh;
    width: 100%;
}

#home1 {
    padding: 0px 20px 100px 20px;
    margin: 0px 100px 0px 100px;
    font-family: "sway-variable", sans-serif;
    font-variation-settings: "wght" 500, "CNST" 100;
    font-size: 5.625em;
    display: flex;
}

.about {
    padding: 100px 100px 100px 100px;
    background-color: rgb(255, 255, 255);
    margin: 0px 155px 0px 155px;
    font-family: "sway-variable", sans-serif;
    font-variation-settings: "wght" 500, "CNST" 100;
    font-size: 20px;
    line-height: 60px;
    text-indent: 50px;
    text-align: justify;
}

.events {
    padding: 100px 100px 100px 100px;
    background-color: rgb(255, 255, 255);
    margin: 0px 155px 0px 155px;
    font-family: "sway-variable", sans-serif;
    font-variation-settings: "wght" 500, "CNST" 100;
    font-size: 20px;
    line-height: 60px;
}

.shop {
    padding: 100px 100px 100px 100px;
    background-color: rgb(255, 255, 255);
    margin: 0px 155px 0px 155px;
    font-family: "sway-variable", sans-serif;
    font-variation-settings: "wght" 500, "CNST" 100;
    font-size: 20px;
    line-height: 60px;
    text-indent: 50px;
    text-align: justify;
}

#cbnsfm {
    display: flex;
    align-items: center;
    justify-content: center;
}

#threeday {
    margin-bottom: 50px;
}

#join {
    display: flex;
    align-items: center;
    justify-content: center;
}

#program {
    margin-bottom: 50px;
}

#needed {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
}

#sfstate {
    margin-bottom: 50px;
}

#sfstate>a {
    text-decoration: underline;
}

#location {
    text-align: center;
}

#tote {
    text-align: center;
    text-decoration: underline;
    font-size: 80px;
}

#tote:hover {
    color: green;
}


#events1 {
    display: flex;
}

#sum1 {
    margin-bottom: 50px;
}

#events2 {
    display: flex;
}

#events3 {
    display: flex;
    margin-bottom: 50px;
}

@media screen and (max-width:2000px) {
    #home1 {
        font-size: 400%;
    }

    #home img {
        width: 100%;
    }
}