*{
    margin:0;
}

html{
    background-image: url(../img/fdfstvlbckground2.png);
    background-position: center;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}

li{
    font-family: "sway-variable", sans-serif;
    font-variation-settings: "wght" 1000, "CNST" 100;
    font-size: 30px;
    list-style-type: none;
    margin-inline: 20px;
    display: inline;
    align-content: center;
}

nav{
    padding-top: 70px;
    padding-bottom: 20px;
    text-align: center;
    
}

.logo{
    margin-bottom: 20px;
}

.logo:hover{
    transform: scale(1.2);
}

.about{
    padding: 100px 100px 100px 100px;
    background-color:#ffffff;
    margin:0px 150px 0px 150px;
    font-family: "sway-variable", sans-serif;
    font-variation-settings: "wght" 500, "CNST" 100;
    font-size: 20px;
    line-height: 60px;
    text-indent: 50px;
    text-align: justify;
}

#cbnsfm{
    display:flex;
    align-items: center;
    justify-content: center;
}

.home{
    padding: 100px 100px 100px 100px;
    background-color: rgb(255, 255, 255);
    margin:0px 155px 0px 155px;
    font-family: "sway-variable", sans-serif;
    font-variation-settings: "wght" 500, "CNST" 100;
    font-size: 30px;
    line-height: 60px;
    text-indent: 50px;
    text-align: justify;
}

.events{
    margin:0px 155px 0px 155px;
    padding: 100px;
    background-color:white;
}

.shop{
    padding: 100px 100px 100px 100px;
    background-color: rgb(255, 255, 255);
    margin:0px 155px 0px 155px;
    font-family: "sway-variable", sans-serif;
    font-variation-settings: "wght" 500, "CNST" 100;
    font-size: 30px;
    line-height: 60px;
    text-indent: 50px;
    text-align: justify;
}

footer{
    padding: 100px;
}

#join{
    display: flex;
    align-items: center;
    justify-content: center;
}

#sfstate>a{
    text-decoration: underline;
}

#sfstate{
    margin-bottom:50px;
}
 
#threeday{
    margin-bottom:50px;
}

#tote{
    text-align: center;
    text-decoration: underline;
    font-size: 80px;
}

#tote:hover{
    color:green;
}

#location{
    text-align: center;
}
#needed{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
}


#program{
    margin-bottom: 50px;
}

.row1{
    display: flex;
  }

.row2{
    display: flex;
}

.row3{
    display: flex;
}

.column{
    flex: 10%;
    padding: 0px;
}  